/assigments/01Files/POO6382_01Files/nbproject/private/
/assigments/01Files/POO6382_01Files/build/
/workshops/05ObjectsAndClasses/POO6382_05ObjectsClasses/build/
/workshops/05ObjectsAndClasses/POO6382_05ObjectsClasses/dist/
/assigments/04FlowControlAndDataTypes/04FlowControlAndDataTypes/nbproject/private/
/assigments/04FlowControlAndDataTypes/POO6382_04FlowControlAndDataTypes/nbproject/private/
/assigments/04FlowControlAndDataTypes/POO6382_04FlowControlAndDataTypes/build/
/assigments/04FlowControlAndDataTypes/POO6382_04FlowControlAndDataTypes/dist/
/assigments/04FlowControlAndDataTypes/ec.edu.espe.AntColony.model/nbproject/private/
/assigments/04FlowControlAndDataTypes/POO6542-AntColony/nbproject/private/
/assigments/04FlowControlAndDataTypes/POO6382_AntColony/nbproject/private/
/assigments/04FlowControlAndDataTypes/POO6382_AntColony/build/
/assigments/04FlowControlAndDataTypes/POO6382_AntColony/dist/
/assigments/08CollectionAndArray/POO6382-ColectionAndArray/nbproject/private/
/assigments/08CollectionAndArray/POO6382-ColectionAndArray/build/
/assigments/08CollectionAndArray/POO6382-ColectionAndArray/dist/
/assigments/08CollectionAndArray/POO6382TaxLibrary-0.1/nbproject/private/
/assigments/08CollectionAndArray/POO6382TaxLibrary-0.1/build/
/assigments/08CollectionAndArray/POO6382TaxLibrary-0.1/dist/
/assigments/08CollectionAndArray/POO6382ShoeSales/nbproject/private/
/assigments/08CollectionAndArray/POO6382ShoeSales/build/
/assigments/08CollectionAndArray/POO6382ShoeSales/dist/
/assigments/10 Encryption/POO6382_10 Encryption/nbproject/private/
/assigments/10 Encryption/POO6382_10 Encryption/build/
/assigments/10 Encryption/POO6382_10 Encryption/dist/
/workshops/Unit2/18FromDiagramToCode/18FromDiagramToCode/nbproject/private/
/workshops/Unit2/18FromDiagramToCode/18FromDiagramToCode/build/
/workshops/Unit2/18FromDiagramToCode/18FromDiagramToCode/dist/
/workshops/Unit2/18FromDiagramToCode/JavaApplication21/nbproject/private/
/workshops/Unit2/20ClassRelations/JavaApplication21/build/
/workshops/Unit2/20ClassRelations/JavaApplication21/dist/
/workshops/Unit2/20ClassRelations/20ClassRelations/build/
/workshops/Unit2/20ClassRelations/20ClassRelations/dist/
/workshops/Unit2/20ClassRelations/20ClassRelations/nbproject/private/
/workshops/Unit2/18FromDiagramToCode/19JSON/nbproject/private/
/workshops/Unit2/18FromDiagramToCode/19JSON/build/
/workshops/Unit2/18FromDiagramToCode/JavaApplication23/nbproject/private/
/workshops/Unit2/18FromDiagramToCode/JavaApplication23/build/
/workshops/Unit2/18FromDiagramToCode/19JSON/dist/
/workshops/Unit2/21UnitTest/POO6382_21UnitTest/nbproject/private/
/workshops/Unit2/21UnitTest/POO6382_21UnitTest/build/
/workshops/Unit2/21UnitTest/POO6382_21UnitTest/dist/
/workshops/Unit2/22Inherencia/22FarmSystem/nbproject/private/
/workshops/Unit2/22Inherencia/22FarmSystem/build/
/workshops/Unit2/22Inherencia/22FarmSystem/dist/
/workshops/Unit2/23/JavaApplication2/nbproject/private/
/workshops/Unit2/23/JavaApplication2/build/
/workshops/Unit2/23AbstractionAndInterface/FarmSystem/dist/
/assigments/Unit2/FarmSystem/nbproject/private/
/assigments/Unit2/FarmSystem/build/
/assigments/Unit2/17ClassDiagramToCode/ClassDiagramToCode/nbproject/private/
/assigments/Unit2/17ClassDiagramToCode/ClassDiagramToCode/build/
/assigments/Unit2/17ClassDiagramToCode/ClassDiagramToCode/dist/
/assigments/Unit2/16Inheritance/FarmSystem_v1.0.0/build/
/assigments/Unit2/16Inheritance/FarmSystem_v1.0.0/dist/
/assigments/Unit2/16Inheritance/FarmSystem_v1.0.0/nbproject/private/
/assigments/Unit2/16Inheritance/FarmSystem_v1.0.1/build/
/assigments/Unit2/16Inheritance/FarmSystem_v1.0.1/nbproject/private/
/assigments/Unit2/17AbstractionAndInterfaces/FarmSystem_v1.0.1/build/
/assigments/Unit2/17AbstractionAndInterfaces/FarmSystem_v1.0.1/nbproject/private/
/assigments/Unit2/17AbstractionAndInterfaces/FarmSystem_v1.0.1/dist/