/assigments/01Files/POO6382_01Files/nbproject/private/
/assigments/01Files/POO6382_01Files/build/
/workshops/05ObjectsAndClasses/POO6382_05ObjectsClasses/build/
/workshops/05ObjectsAndClasses/POO6382_05ObjectsClasses/dist/